:root {
    // Primary
    --soft-blue: hsl(237, 18%, 59%);
    --soft-red: hsl(345, 95%, 68%);
    // Neutral
    --white: hsl(0, 0%, 100%);
    --dark-blue: hsl(236, 21%, 26%);
    --dark-dark-blue: hsl(240, 21%, 22%);
    --very-dark-blue: hsl(235, 16%, 14%);
    --deep-dark-blue: hsl(234, 17%, 12%);

    // Gradient
    --night-sky: linear-gradient(0deg, #352c3f, #241b2c, #211d2b, #201e2b, #1e1e28);
}